@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dropPiece {
  0% {
    transform: translateY(-500%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-drop {
  animation: dropPiece 0.6s ease-out;
}